body{
    background-color: black;
}
.screen{
    border: ivory 2px solid;
    height: 100px;
    width: 500px;
    margin: 0px auto;
    display: flexbox;
}
.terminal{
    margin:5px;
    background-color: transparent;
    border: none;
    color:mintcream;
    font-family: monospace;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    outline: none;
}
.terminal label{
    font-weight: bold;
    width:20%;
}
.terminal input{
    width: 80%;
}
.last-command{
    width:100%;
    margin: 10px;
}